.wizard > .steps .current-info {display: none; }
.wizard > .steps > ul {display: table;  width: 100%;  table-layout: fixed;  margin: 0;  padding: 0; }
.wizard > .steps > ul > li {display: table-cell;width: auto;text-align: center;position: relative; }
.wizard > .steps > ul > li a {position: relative;padding-top: 52px;margin-top: 20px;margin-bottom: 20px;display: block;cursor: default; }
.wizard > .steps > ul > li:before {content: '';position: absolute;z-index: 9;left: 0;top: 43px;width: 50%;height: 5px;background-color: #2d40a2; }
.wizard > .steps > ul > li:after {content: '';position: absolute;z-index: 9;right: 0;top: 43px;width: 50%;height: 5px;background-color: #2d40a2; }
.wizard > .steps > ul > li:last-child:after {content: none; }

  .wizard > .steps > ul > li.current a {
    color: #2d40a2 !important; }
  .wizard > .steps > ul > li.current .step {
    border-color: #2d40a2 !important; }
  .wizard > .steps > ul > li.current:after {
    background-color: #F7F7F8; }
  .wizard > .steps > ul > li.current ~ li:before, .wizard > .steps > ul > li.current ~ li:after {
    background-color: #F7F7F8; }
  .wizard > .steps > ul > li.disabled a,
  .wizard > .steps > ul > li.done a {
    color: #342E49; }
  .wizard > .steps > ul > li.done .step {
    background-color: #2d40a2 !important;
    border-color: #2d40a2 !important;
    color: #fff; }
  .wizard > .steps > ul > li.error .step {
    border-color: #F55252 !important;
    color: #F55252; }
  .wizard > .steps > ul .step {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -24px;
    z-index: 10;
    width: 50px;
    height: 50px;
    line-height: 40px;
    border: 5px solid #F7F7F8;
    font-size: 1.3rem;
    border-radius: 50%; }

.wizard > .content > .title {
  display: none; }

.wizard > .content > .body {
  padding: 0 20px; }

.wizard > .actions {
  padding: 0 20px 20px; }
  .wizard > .actions > ul {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0; }
    .wizard > .actions > ul > li {
      float: left; }
      .wizard > .actions > ul > li + li {
        margin-left: 10px; }

@media (max-width: 767.98px) {
  .wizard > .steps > ul {
    margin-bottom: 20px; }
    .wizard > .steps > ul > li {
      float: left;
      width: 50%; }
      .wizard > .steps > ul > li > a {
        margin-bottom: 0; }
      .wizard > .steps > ul > li:first-child:before {
        content: ''; }
      .wizard > .steps > ul > li:last-child:after {
        content: ''; } }

@media (max-width: 480px) {
  .wizard > .steps > ul > li {
    width: 100%; }
  .wizard > .steps > ul > li.current:after {
    background-color: #2d40a2 !important; } }
