/* Shadows (from mdl http://www.getmdl.io/) */
html body.layout-dark:not(.layout-transparent) {
  background-color: #101010;
  color: #B2B1B5;
  height: 100%;
}

html body.layout-dark:not(.layout-transparent) .card {
  box-shadow: -8px 8px 14px 0 rgba(0, 0, 0, 0.25);
}

html body.layout-dark:not(.layout-transparent).vertical-layout.navbar-sticky.page-scrolled nav.header-navbar {
  background-color: #1E1E1E;
  box-shadow: -8px 8px 14px 0 rgba(0, 0, 0, 0.25);
}

html body.layout-dark:not(.layout-transparent).auth-page {
  background-image: repeating-linear-gradient(135deg, rgba(19, 19, 19, 0.02) 0px, rgba(19, 19, 19, 0.02) 132px, rgba(233, 233, 233, 0.02) 132px, rgba(233, 233, 233, 0.02) 257px, rgba(87, 87, 87, 0.02) 257px, rgba(87, 87, 87, 0.02) 356px, rgba(139, 139, 139, 0.02) 356px, rgba(139, 139, 139, 0.02) 449px, rgba(107, 107, 107, 0.02) 449px, rgba(107, 107, 107, 0.02) 540px, rgba(141, 141, 141, 0.02) 540px, rgba(141, 141, 141, 0.02) 606px, rgba(197, 197, 197, 0.02) 606px, rgba(197, 197, 197, 0.02) 754px, rgba(79, 79, 79, 0.02) 754px, rgba(79, 79, 79, 0.02) 851px), repeating-linear-gradient(135deg, rgba(152, 152, 152, 0.02) 0px, rgba(152, 152, 152, 0.02) 76px, rgba(91, 91, 91, 0.02) 76px, rgba(91, 91, 91, 0.02) 199px, rgba(68, 68, 68, 0.02) 199px, rgba(68, 68, 68, 0.02) 298px, rgba(216, 216, 216, 0.02) 298px, rgba(216, 216, 216, 0.02) 378px, rgba(254, 254, 254, 0.02) 378px, rgba(254, 254, 254, 0.02) 438px, rgba(79, 79, 79, 0.02) 438px, rgba(79, 79, 79, 0.02) 523px, rgba(47, 47, 47, 0.02) 523px, rgba(47, 47, 47, 0.02) 590px, rgba(241, 241, 241, 0.02) 590px, rgba(241, 241, 241, 0.02) 730px), repeating-linear-gradient(135deg, rgba(39, 39, 39, 0.02) 0px, rgba(39, 39, 39, 0.02) 109px, rgba(131, 131, 131, 0.02) 109px, rgba(131, 131, 131, 0.02) 202px, rgba(18, 18, 18, 0.02) 202px, rgba(18, 18, 18, 0.02) 329px, rgba(217, 217, 217, 0.02) 329px, rgba(217, 217, 217, 0.02) 405px, rgba(93, 93, 93, 0.02) 405px, rgba(93, 93, 93, 0.02) 487px, rgba(194, 194, 194, 0.02) 487px, rgba(194, 194, 194, 0.02) 551px, rgba(202, 202, 202, 0.02) 551px, rgba(202, 202, 202, 0.02) 614px, rgba(224, 224, 224, 0.02) 614px, rgba(224, 224, 224, 0.02) 747px), linear-gradient(90deg, #343434, #333333);
}

html body.layout-dark:not(.layout-transparent).auth-page .auth-img .auth-img-bg {
  background-color: #212121;
}

html body.layout-dark.layout-transparent {
  color: #D6D5D8;
}

html body.layout-dark.layout-transparent[class*=bg-glass-],
html body.layout-dark.layout-transparent [class*=bg-glass-] {
  background-size: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s;
}

html body.layout-dark.layout-transparent[class*=bg-glass-] {
  background-attachment: fixed;
}

html body.layout-dark.layout-transparent.bg-glass-1,
html body.layout-dark.layout-transparent .bg-glass-1 {
  background-image: linear-gradient(135deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 17%, rgba(27, 27, 27, 0.05) 17%, rgba(27, 27, 27, 0.05) 34%, rgba(31, 31, 31, 0.05) 34%, rgba(31, 31, 31, 0.05) 93%, rgba(242, 242, 242, 0.05) 93%, rgba(242, 242, 242, 0.05) 100%), linear-gradient(135deg, rgba(129, 129, 129, 0.05) 0%, rgba(129, 129, 129, 0.05) 66%, rgba(117, 117, 117, 0.05) 66%, rgba(117, 117, 117, 0.05) 91%, rgba(199, 199, 199, 0.05) 91%, rgba(199, 199, 199, 0.05) 100%), linear-gradient(135deg, rgba(31, 31, 31, 0.07) 0%, rgba(31, 31, 31, 0.07) 15%, rgba(139, 139, 139, 0.07) 15%, rgba(139, 139, 139, 0.07) 23%, rgba(200, 200, 200, 0.07) 23%, rgba(200, 200, 200, 0.07) 29%, rgba(102, 102, 102, 0.07) 29%, rgba(102, 102, 102, 0.07) 100%), linear-gradient(90deg, #13c4e4, #7e08de);
}

html body.layout-dark.layout-transparent.bg-glass-2,
html body.layout-dark.layout-transparent .bg-glass-2 {
  background-image: linear-gradient(238deg, rgba(4, 4, 4, 0.05) 0%, rgba(4, 4, 4, 0.05) 56%, rgba(211, 211, 211, 0.05) 56%, rgba(211, 211, 211, 0.05) 100%), linear-gradient(223deg, rgba(96, 96, 96, 0.05) 0%, rgba(96, 96, 96, 0.05) 58%, rgba(161, 161, 161, 0.05) 58%, rgba(161, 161, 161, 0.05) 100%), linear-gradient(263deg, rgba(232, 232, 232, 0.05) 0%, rgba(232, 232, 232, 0.05) 65%, rgba(243, 243, 243, 0.05) 65%, rgba(243, 243, 243, 0.05) 100%), linear-gradient(90deg, #cc52fc, #111f76);
}

html body.layout-dark.layout-transparent.bg-glass-3,
html body.layout-dark.layout-transparent .bg-glass-3 {
  background-image: radial-gradient(circle at 17% 1%, rgba(198, 198, 198, 0.03) 0%, rgba(198, 198, 198, 0.03) 50%, rgba(42, 42, 42, 0.03) 50%, rgba(42, 42, 42, 0.03) 100%), radial-gradient(circle at 8% 81%, rgba(253, 253, 253, 0.03) 0%, rgba(253, 253, 253, 0.03) 50%, rgba(36, 36, 36, 0.03) 50%, rgba(36, 36, 36, 0.03) 100%), radial-gradient(circle at 83% 29%, rgba(164, 164, 164, 0.03) 0%, rgba(164, 164, 164, 0.03) 50%, rgba(60, 60, 60, 0.03) 50%, rgba(60, 60, 60, 0.03) 100%), radial-gradient(circle at 96% 62%, rgba(170, 170, 170, 0.03) 0%, rgba(170, 170, 170, 0.03) 50%, rgba(169, 169, 169, 0.03) 50%, rgba(169, 169, 169, 0.03) 100%), linear-gradient(338deg, #028dd5, #05ac51);
}

html body.layout-dark.layout-transparent.bg-glass-4,
html body.layout-dark.layout-transparent .bg-glass-4 {
  background-image: linear-gradient(245deg, rgba(27, 27, 27, 0.04) 0%, rgba(27, 27, 27, 0.04) 93%, rgba(92, 92, 92, 0.04) 93%, rgba(92, 92, 92, 0.04) 100%), linear-gradient(44deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 39%, rgba(186, 186, 186, 0.04) 39%, rgba(186, 186, 186, 0.04) 100%), linear-gradient(134deg, rgba(178, 178, 178, 0.04) 0%, rgba(178, 178, 178, 0.04) 95%, rgba(237, 237, 237, 0.04) 95%, rgba(237, 237, 237, 0.04) 100%), linear-gradient(322deg, rgba(56, 56, 56, 0.04) 0%, rgba(56, 56, 56, 0.04) 58%, rgba(232, 232, 232, 0.04) 58%, rgba(232, 232, 232, 0.04) 100%), linear-gradient(139deg, rgba(51, 51, 51, 0.04) 0%, rgba(51, 51, 51, 0.04) 62%, rgba(35, 35, 35, 0.04) 62%, rgba(35, 35, 35, 0.04) 100%), linear-gradient(252deg, rgba(9, 9, 9, 0.04) 0%, rgba(9, 9, 9, 0.04) 39%, rgba(174, 174, 174, 0.04) 39%, rgba(174, 174, 174, 0.04) 100%), linear-gradient(229deg, rgba(241, 241, 241, 0.04) 0%, rgba(241, 241, 241, 0.04) 2%, rgba(140, 140, 140, 0.04) 2%, rgba(140, 140, 140, 0.04) 100%), linear-gradient(223deg, rgba(82, 82, 82, 0.04) 0%, rgba(82, 82, 82, 0.04) 36%, rgba(229, 229, 229, 0.04) 36%, rgba(229, 229, 229, 0.04) 100%), linear-gradient(90deg, #f51011, #b145cf);
}

html body.layout-dark.layout-transparent.bg-glass-hibiscus,
html body.layout-dark.layout-transparent .bg-glass-hibiscus {
  background-image: linear-gradient(to right bottom, #f05f57, #c83d5c, #99245a, #671351, #360940);
}

html body.layout-dark.layout-transparent.bg-glass-purple-pizzazz,
html body.layout-dark.layout-transparent .bg-glass-purple-pizzazz {
  background-image: linear-gradient(to right bottom, #662d86, #8b2a8a, #ae2389, #cf1d83, #ed1e79);
}

html body.layout-dark.layout-transparent.bg-glass-blue-lagoon,
html body.layout-dark.layout-transparent .bg-glass-blue-lagoon {
  background-image: linear-gradient(to right bottom, #144e68, #006d83, #008d92, #00ad91, #57ca85);
}

html body.layout-dark.layout-transparent.bg-glass-electric-violet,
html body.layout-dark.layout-transparent .bg-glass-electric-violet {
  background-image: linear-gradient(to left top, #4a00e0, #600de0, #7119e1, #8023e1, #8e2de2);
}

html body.layout-dark.layout-transparent.bg-glass-portage,
html body.layout-dark.layout-transparent .bg-glass-portage {
  background-image: linear-gradient(to left top, #97abff, #798ce5, #5b6ecb, #3b51b1, #123597);
}

html body.layout-dark.layout-transparent.bg-glass-tundora,
html body.layout-dark.layout-transparent .bg-glass-tundora {
  background-image: linear-gradient(to left top, #ef4673, #ffc846);
}

html body.layout-dark.layout-transparent .header-navbar {
  background-attachment: fixed;
}

html body.layout-dark.layout-transparent .alert.alert-light {
  color: #101010 !important;
}

html body.layout-dark.layout-transparent.vertical-layout.navbar-sticky.page-scrolled nav.header-navbar {
  box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, 0.11);
}

html body.layout-dark.layout-transparent .nav-tabs .nav-link.active,
html body.layout-dark.layout-transparent .nav-tabs .nav-item.show .nav-link {
  color: #EFDEFF;
}

html body.layout-dark.layout-transparent .nav-tabs .nav-link.active {
  border-bottom-color: #EFDEFF;
}

html body.layout-dark.layout-transparent .nav-vertical .nav-left.nav-tabs .nav-link.active {
  border-right-color: #EFDEFF !important;
}

html body.layout-dark.layout-transparent .nav-vertical .nav-right.nav-tabs .nav-link.active {
  border-left-color: #EFDEFF !important;
}

html body.layout-dark.layout-transparent.nav-collapsed.menu-collapsed .sidebar-background {
  background: transparent;
}

html body.layout-dark.layout-transparent.nav-collapsed .app-sidebar.expanded .sidebar-background {
  opacity: 0.9;
  background: #000;
  transition: all 0.5s ease;
}

html body.layout-dark.layout-transparent .app-sidebar .sidebar-background:after {
  background: none;
}

html body.layout-dark.layout-transparent.auth-page .auth-img .auth-img-bg {
  background-color: rgba(0, 0, 0, 0.12);
}

html body.layout-dark.layout-transparent .language-markup,
html body.layout-dark.layout-transparent .language-css,
html body.layout-dark.layout-transparent .language-js,
html body.layout-dark.layout-transparent .language-javascript,
html body.layout-dark.layout-transparent .ql-syntax {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

html body.layout-dark.layout-transparent .email-application .email-list-text {
  color: #9e9e9e;
}

html body.layout-dark.layout-transparent a.fc-more {
  color: #fff;
}

@media (min-width: 1199px) {
  html body.layout-dark.layout-transparent .app-sidebar {
    background: transparent !important;
  }
}

@media (max-width: 1199px) {
  html body.layout-dark.layout-transparent .app-sidebar {
    background: rgba(0, 0, 0, 0.8) !important;
  }
}

html body.layout-dark.layout-transparent .app-content-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1199.98px) {
  html body.layout-dark.layout-transparent .email-app-sidebar {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
}

@media (max-width: 767.98px) {
  html body.layout-dark.layout-transparent .chat-sidebar {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
}

html body.layout-dark.layout-transparent .customizer .sb-color-options,
html body.layout-dark.layout-transparent .customizer .sb-options,
html body.layout-dark.layout-transparent .customizer .sb-bg-img,
html body.layout-dark.layout-transparent .customizer .toggle-sb-bg-img {
  display: none !important;
}

html body.layout-dark.layout-transparent .customizer .tl-color-option,
html body.layout-dark.layout-transparent .customizer .cz-tl-bg-color,
html body.layout-dark.layout-transparent .customizer .tl-bg-img {
  display: block !important;
}

html body.layout-dark.layout-transparent .kb-categories-text {
  color: #adb5bd;
}

html body.layout-dark.layout-transparent .kb-overlay.show {
  background-color: rgba(0, 0, 0, 0.7);
}

.layout-transparent a {
  color: #EFDEFF;
}

.layout-transparent a:hover {
  color: #e3c5ff;
}

html body.layout-dark.layout-transparent h1, html body.layout-dark.layout-transparent
h2, html body.layout-dark.layout-transparent
h3, html body.layout-dark.layout-transparent
h4, html body.layout-dark.layout-transparent
h5, html body.layout-dark.layout-transparent
h6, html body.layout-dark.layout-transparent
.h1, html body.layout-dark.layout-transparent
.h2, html body.layout-dark.layout-transparent
.h3, html body.layout-dark.layout-transparent
.h4, html body.layout-dark.layout-transparent
.h5, html body.layout-dark.layout-transparent
.h6, html body.layout-dark.layout-transparent
.content-header, html body.layout-dark.layout-transparent
.table th {
  color: #E9E9EA;
}

html body.layout-dark:not(.layout-transparent) h1, html body.layout-dark:not(.layout-transparent)
h2, html body.layout-dark:not(.layout-transparent)
h3, html body.layout-dark:not(.layout-transparent)
h4, html body.layout-dark:not(.layout-transparent)
h5, html body.layout-dark:not(.layout-transparent)
h6, html body.layout-dark:not(.layout-transparent)
.h1, html body.layout-dark:not(.layout-transparent)
.h2, html body.layout-dark:not(.layout-transparent)
.h3, html body.layout-dark:not(.layout-transparent)
.h4, html body.layout-dark:not(.layout-transparent)
.h5, html body.layout-dark:not(.layout-transparent)
.h6, html body.layout-dark:not(.layout-transparent)
.content-header, html body.layout-dark:not(.layout-transparent)
.table th {
  color: #BFBEC2;
}

html body.layout-dark.layout-transparent .content-sub-header, html body.layout-dark.layout-transparent
.table td {
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .content-sub-header, html body.layout-dark:not(.layout-transparent)
.table td {
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent .blockquote-footer, html body.layout-dark.layout-transparent
.text-muted {
  color: #C3C2C5 !important;
}

html body.layout-dark:not(.layout-transparent) .blockquote-footer, html body.layout-dark:not(.layout-transparent)
.text-muted {
  color: #848484 !important;
}

html body.layout-dark.layout-transparent .disabled {
  color: #9E9E9E;
}

html body.layout-dark:not(.layout-transparent) .disabled {
  color: #626164;
}

html body.layout-dark.layout-transparent .logo-text {
  color: #E9E9EA;
}

html body.layout-dark:not(.layout-transparent) .logo-text {
  color: #BFBEC2;
}

html body.layout-dark.layout-transparent .border {
  border-color: rgba(238, 238, 238, 0.2) !important;
}

html body.layout-dark:not(.layout-transparent) .border {
  border-color: #474748 !important;
}

html body.layout-dark.layout-transparent .border-top {
  border-top-color: rgba(238, 238, 238, 0.2) !important;
}

html body.layout-dark:not(.layout-transparent) .border-top {
  border-top-color: #474748 !important;
}

html body.layout-dark.layout-transparent .border-right {
  border-right-color: rgba(238, 238, 238, 0.2) !important;
}

html body.layout-dark:not(.layout-transparent) .border-right {
  border-right-color: #474748 !important;
}

html body.layout-dark.layout-transparent .border-bottom {
  border-bottom-color: rgba(238, 238, 238, 0.2) !important;
}

html body.layout-dark:not(.layout-transparent) .border-bottom {
  border-bottom-color: #474748 !important;
}

html body.layout-dark.layout-transparent .border-left {
  border-left-color: rgba(238, 238, 238, 0.2) !important;
}

html body.layout-dark:not(.layout-transparent) .border-left {
  border-left-color: #474748 !important;
}

html body.layout-dark.layout-transparent hr {
  border-color: rgba(238, 238, 238, 0.2) !important;
}

html body.layout-dark:not(.layout-transparent) hr {
  border-color: #474748;
}

html body.layout-dark:not(.layout-transparent) code {
  background-color: #101010;
}

html body.layout-dark.layout-transparent pre {
  background: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) pre {
  background: #101010;
}

html body.layout-dark.layout-transparent pre code {
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) pre code {
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent pre code[class*="language-"] {
  background-color: transparent !important;
}

html body.layout-dark.layout-transparent .table thead th, html body.layout-dark.layout-transparent
.table thead td, html body.layout-dark.layout-transparent
.table tfoot th, html body.layout-dark.layout-transparent
.table tfoot td {
  background-color: rgba(0, 0, 0, 0.12);
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .table thead th, html body.layout-dark:not(.layout-transparent)
.table thead td, html body.layout-dark:not(.layout-transparent)
.table tfoot th, html body.layout-dark:not(.layout-transparent)
.table tfoot td {
  background-color: #101010;
  border-color: #474748;
}

html body.layout-dark.layout-transparent .table th, html body.layout-dark.layout-transparent
.table td {
  border-top-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .table th, html body.layout-dark:not(.layout-transparent)
.table td {
  border-top-color: #474748;
}

html body.layout-dark.layout-transparent .table.table-bordered {
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .table.table-bordered {
  border-color: #474748;
}

html body.layout-dark.layout-transparent .table.table-bordered th, html body.layout-dark.layout-transparent
.table.table-bordered td {
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .table.table-bordered th, html body.layout-dark:not(.layout-transparent)
.table.table-bordered td {
  border-color: #474748;
}

html body.layout-dark.layout-transparent .table.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(33, 33, 33, 0.1);
}

html body.layout-dark:not(.layout-transparent) .table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #212121;
}

html body.layout-dark.layout-transparent .table.dataTable tr.group {
  background-color: rgba(66, 66, 66, 0.2);
}

html body.layout-dark:not(.layout-transparent) .table.dataTable tr.group {
  background-color: #424242;
}

html body.layout-dark.layout-transparent .card:not([class*="gradient-"]) {
  background: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .card:not([class*="gradient-"]) {
  background: #1E1E1E;
}

html body.layout-dark.layout-transparent .dropdown-menu {
  background-color: rgba(16, 16, 16, 0.92);
}

html body.layout-dark:not(.layout-transparent) .dropdown-menu {
  background-color: #101010;
}

html body.layout-dark.layout-transparent .dropdown-menu .dropdown-item:not(:active) {
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .dropdown-menu .dropdown-item:not(:active) {
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent .media-bordered .media {
  border-top-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .media-bordered .media {
  border-top-color: #474748;
}

html body.layout-dark.layout-transparent .pagination .page-item .page-link {
  background-color: rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.12);
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .pagination .page-item .page-link {
  background-color: #1E1E1E;
  border-color: #474748;
}

html body.layout-dark.layout-transparent .pagination .page-item.disabled .page-link {
  color: #757575;
}

html body.layout-dark:not(.layout-transparent) .pagination .page-item.disabled .page-link {
  color: #757575;
}

html body.layout-dark.layout-transparent .progress {
  background: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .progress {
  background: #101010;
}

html body.layout-dark.layout-transparent .modal-content {
  background: rgba(16, 16, 16, 0.92);
}

html body.layout-dark:not(.layout-transparent) .modal-content {
  background: transparent;
}

html body.layout-dark.layout-transparent .modal-content .modal-header {
  background: transparent;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .modal-content .modal-header {
  background: #1E1E1E;
  border-bottom: 1px solid #474748;
}

html body.layout-dark.layout-transparent .modal-content .modal-body {
  background: transparent;
}

html body.layout-dark:not(.layout-transparent) .modal-content .modal-body {
  background: #1E1E1E;
}

html body.layout-dark.layout-transparent .modal-content .modal-footer {
  background: transparent;
  border-top: 1px solid rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .modal-content .modal-footer {
  background: #1E1E1E;
  border-top: 1px solid #474748;
}

html body.layout-dark.layout-transparent .list-group .list-group-item {
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .list-group .list-group-item {
  border-color: #474748;
}

html body.layout-dark.layout-transparent .list-group button {
  color: #D6D5D8 !important;
}

html body.layout-dark:not(.layout-transparent) .list-group button {
  color: #B2B1B5 !important;
}

html body.layout-dark.layout-transparent .popover {
  background-color: rgba(16, 16, 16, 0.92);
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .popover {
  background: transparent;
  box-shadow: -8px 8px 14px 0 rgba(0, 0, 0, 0.25);
  border-color: #474748;
}

html body.layout-dark.layout-transparent .popover .popover-header {
  background: transparent;
  color: #E9E9EA;
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .popover .popover-header {
  background: #101010;
  color: #BFBEC2;
  border-color: #474748;
}

html body.layout-dark.layout-transparent .popover .popover-body {
  background: transparent;
  color: #E9E9EA;
}

html body.layout-dark:not(.layout-transparent) .popover .popover-body {
  background: #1E1E1E;
  color: #BFBEC2;
  border-bottom-left-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}

html body.layout-dark.layout-transparent .popover.bs-popover-bottom > .arrow:after {
  border-bottom-color: rgba(16, 16, 16, 0.92);
}

html body.layout-dark:not(.layout-transparent) .popover.bs-popover-bottom > .arrow:after {
  border-bottom-color: #101010;
}

html body.layout-dark.layout-transparent .popover.bs-popover-bottom > .arrow:before {
  border-bottom-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .popover.bs-popover-bottom > .arrow:before {
  border-bottom-color: #474748;
}

html body.layout-dark.layout-transparent .popover.bs-popover-bottom .popover-header::before {
  border-bottom-color: rgba(16, 16, 16, 0.92);
}

html body.layout-dark:not(.layout-transparent) .popover.bs-popover-bottom .popover-header::before {
  border-bottom-color: #101010;
}

html body.layout-dark.layout-transparent .popover.bs-popover-top > .arrow:after {
  border-top-color: rgba(16, 16, 16, 0.92);
}

html body.layout-dark:not(.layout-transparent) .popover.bs-popover-top > .arrow:after {
  border-top-color: #1E1E1E;
}

html body.layout-dark.layout-transparent .popover.bs-popover-top > .arrow:before {
  border-top-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .popover.bs-popover-top > .arrow:before {
  border-top-color: #474748;
}

html body.layout-dark.layout-transparent .popover.bs-popover-left > .arrow:after {
  border-left-color: rgba(16, 16, 16, 0.92);
}

html body.layout-dark:not(.layout-transparent) .popover.bs-popover-left > .arrow:after {
  border-left-color: #1E1E1E;
}

html body.layout-dark.layout-transparent .popover.bs-popover-left > .arrow:before {
  border-left-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .popover.bs-popover-left > .arrow:before {
  border-left-color: #474748;
}

html body.layout-dark.layout-transparent .popover.bs-popover-right > .arrow:after {
  border-right-color: rgba(16, 16, 16, 0.92);
}

html body.layout-dark:not(.layout-transparent) .popover.bs-popover-right > .arrow:after {
  border-right-color: #1E1E1E;
}

html body.layout-dark.layout-transparent .popover.bs-popover-right > .arrow:before {
  border-right-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .popover.bs-popover-right > .arrow:before {
  border-right-color: #474748;
}

html body.layout-dark.layout-transparent .nav-tabs {
  border-bottom-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .nav-tabs {
  border-bottom-color: #474748;
}

html body.layout-dark.layout-transparent .nav-vertical .nav-tabs.nav-left .nav-item .nav-link {
  border-right: 1px solid rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .nav-vertical .nav-tabs.nav-left .nav-item .nav-link {
  border-right: 1px solid #474748;
}

html body.layout-dark.layout-transparent .nav-vertical .nav-tabs.nav-right .nav-item .nav-link {
  border-left: 1px solid rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .nav-vertical .nav-tabs.nav-right .nav-item .nav-link {
  border-left: 1px solid #474748;
}

html body.layout-dark.layout-transparent .navbar .navbar-nav .nav-item, html body.layout-dark.layout-transparent
.navbar .nav-link, html body.layout-dark.layout-transparent
.navbar .navbar-toggle {
  color: #E9E9EA;
}

html body.layout-dark:not(.layout-transparent) .navbar .navbar-nav .nav-item, html body.layout-dark:not(.layout-transparent)
.navbar .nav-link, html body.layout-dark:not(.layout-transparent)
.navbar .navbar-toggle {
  color: #BFBEC2;
}

html body.layout-dark.layout-transparent .form-control {
  border-color: rgba(238, 238, 238, 0.2);
  /*color: #D6D5D8;*/
  color: #000000;
  background: #fdfdfd;
}

html body.layout-dark:not(.layout-transparent) .form-control {
  border-color: #474748;
  color: #B2B1B5;
  
}

html body.layout-dark.layout-transparent .form-control::placeholder {
  color: #C3C2C5;
}

html body.layout-dark:not(.layout-transparent) .form-control::placeholder {
  color: #848484;
}

html body.layout-dark.layout-transparent .form-control:disabled, html body.layout-dark.layout-transparent .form-control[readonly] {
  background-color: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .form-control:disabled, html body.layout-dark:not(.layout-transparent) .form-control[readonly] {
  background-color: #101010;
}

html body.layout-dark.layout-transparent .form-control:focus {
  border-color: #975AFF;
}

html body.layout-dark:not(.layout-transparent) .form-control:focus {
  border-color: #975AFF;
}

html body.layout-dark.layout-transparent .form-control.tagging .type-zone {
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .form-control.tagging .type-zone {
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent .custom-file-label {
  border-color: rgba(238, 238, 238, 0.2);
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .custom-file-label {
  border-color: #474748;
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent form.form-bordered .form-group > div {
  border-left-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) form.form-bordered .form-group > div {
  border-left-color: #474748;
}

html body.layout-dark.layout-transparent form.form-bordered .form-group {
  border-bottom-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) form.form-bordered .form-group {
  border-bottom-color: #474748;
}

html body.layout-dark.layout-transparent form .form-actions {
  border-top-color: rgba(238, 238, 238, 0.2);
  border-bottom-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) form .form-actions {
  border-top-color: #474748;
  border-bottom-color: #474748;
}

html body.layout-dark.layout-transparent form .form-section {
  border-bottom-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) form .form-section {
  border-bottom-color: #474748;
}

html body.layout-dark.layout-transparent form.striped-rows .form-group:nth-child(even) {
  background: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) form.striped-rows .form-group:nth-child(even) {
  background: #101010;
}

html body.layout-dark.layout-transparent .input-group-append .input-group-text, html body.layout-dark.layout-transparent
.input-group-prepend .input-group-text {
  background: rgba(0, 0, 0, 0.12);
  border-color: rgba(238, 238, 238, 0.2);
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .input-group-append .input-group-text, html body.layout-dark:not(.layout-transparent)
.input-group-prepend .input-group-text {
  background: #101010;
  border-color: #474748;
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent .radio input[type="radio"]:disabled ~ label {
  color: #9E9E9E;
}

html body.layout-dark:not(.layout-transparent) .radio input[type="radio"]:disabled ~ label {
  color: #626164;
}

html body.layout-dark.layout-transparent .radio input[type="radio"]:disabled ~ label:before {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

html body.layout-dark:not(.layout-transparent) .radio input[type="radio"]:disabled ~ label:before {
  background-color: #101010 !important;
}

html body.layout-dark:not(.layout-transparent) .checkbox label:before, html body.layout-dark:not(.layout-transparent)
.checkbox input[type='checkbox']:not(:checked) ~ label:after {
  border-color: #474748;
}

html body.layout-dark.layout-transparent .checkbox input[type='checkbox']:disabled ~ label {
  color: #9E9E9E;
}

html body.layout-dark:not(.layout-transparent) .checkbox input[type='checkbox']:disabled ~ label {
  color: #626164;
}

html body.layout-dark.layout-transparent .checkbox input[type='checkbox']:disabled ~ label:before {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

html body.layout-dark:not(.layout-transparent) .checkbox input[type='checkbox']:disabled ~ label:before {
  background-color: #101010 !important;
}

html body.layout-dark.layout-transparent .custom-radio .custom-control-input:disabled:not(:checked) ~ .custom-control-label:before, html body.layout-dark.layout-transparent
.custom-checkbox .custom-control-input:disabled:not(:checked) ~ .custom-control-label:before, html body.layout-dark.layout-transparent
.custom-switch .custom-control-input:disabled:not(:checked) ~ .custom-control-label:before {
  background-color: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .custom-radio .custom-control-input:disabled:not(:checked) ~ .custom-control-label:before, html body.layout-dark:not(.layout-transparent)
.custom-checkbox .custom-control-input:disabled:not(:checked) ~ .custom-control-label:before, html body.layout-dark:not(.layout-transparent)
.custom-switch .custom-control-input:disabled:not(:checked) ~ .custom-control-label:before {
  background-color: #101010;
}

html body.layout-dark.layout-transparent .custom-control-input:disabled ~ .custom-control-label {
  color: #9E9E9E;
}

html body.layout-dark:not(.layout-transparent) .custom-control-input:disabled ~ .custom-control-label {
  color: #626164;
}

html body.layout-dark.layout-transparent .custom-select {
  color: #000000;
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .custom-select {
  color: #B2B1B5;
  border-color: #474748;
}

html body.layout-dark.layout-transparent .select2-selection--single, html body.layout-dark.layout-transparent
.select2-selection--multiple {
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .select2-selection--single, html body.layout-dark:not(.layout-transparent)
.select2-selection--multiple {
  border-color: #474748;
}

html body.layout-dark.layout-transparent .select2-selection--single .select2-selection__rendered, html body.layout-dark.layout-transparent
.select2-selection--multiple .select2-selection__rendered {
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .select2-selection--single .select2-selection__rendered, html body.layout-dark:not(.layout-transparent)
.select2-selection--multiple .select2-selection__rendered {
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent .select2-selection--single .select2-selection__arrow b, html body.layout-dark.layout-transparent
.select2-selection--multiple .select2-selection__arrow b {
  border-color: rgba(238, 238, 238, 0.2) transparent;
}

html body.layout-dark:not(.layout-transparent) .select2-selection--single .select2-selection__arrow b, html body.layout-dark:not(.layout-transparent)
.select2-selection--multiple .select2-selection__arrow b {
  border-color: #474748 transparent;
}

html body.layout-dark.layout-transparent .handle {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

html body.layout-dark:not(.layout-transparent) .handle {
  background-color: #424242 !important;
}

html body.layout-dark.layout-transparent .picker--opened .picker__holder {
  border-color: rgba(238, 238, 238, 0.2);
  background-color: #1E1E1E;
}

html body.layout-dark:not(.layout-transparent) .picker--opened .picker__holder {
  border-color: #474748;
  background-color: #1E1E1E;
}

html body.layout-dark.layout-transparent .picker--opened .picker__holder .picker__day--today {
  background-color: #101010;
}

html body.layout-dark:not(.layout-transparent) .picker--opened .picker__holder .picker__day--today {
  background-color: #101010;
}

html body.layout-dark.layout-transparent .picker--opened .picker__holder .picker__day--infocus:hover, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__day--outfocus:hover, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__nav--prev:hover, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__nav--next:hover, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__footer button:hover, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__footer button:focus, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__day--disabled, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__day--disabled:hover, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__list-item:hover, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__list-item:focus, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__list-item--disabled, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__list-item--disabled:hover, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker--focused .picker__list-item--disabled {
  background-color: #101010;
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .picker--opened .picker__holder .picker__day--infocus:hover, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__day--outfocus:hover, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__nav--prev:hover, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__nav--next:hover, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__footer button:hover, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__footer button:focus, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__day--disabled, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__day--disabled:hover, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__list-item:hover, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__list-item:focus, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__list-item--disabled, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__list-item--disabled:hover, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker--focused .picker__list-item--disabled {
  background-color: #101010;
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent .picker--opened .picker__holder .picker__footer button, html body.layout-dark.layout-transparent
.picker--opened .picker__holder .picker__list {
  background-color: #1E1E1E;
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .picker--opened .picker__holder .picker__footer button, html body.layout-dark:not(.layout-transparent)
.picker--opened .picker__holder .picker__list {
  background-color: #1E1E1E;
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent .picker--opened .picker__holder .picker__day--outfocus {
  color: #9E9E9E;
}

html body.layout-dark:not(.layout-transparent) .picker--opened .picker__holder .picker__day--outfocus {
  color: #626164;
}

html body.layout-dark.layout-transparent .picker--opened .picker__holder .picker__button--clear {
  background-color: #1E1E1E;
  color: #D6D5D8;
  border-top-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .picker--opened .picker__holder .picker__button--clear {
  background-color: #1E1E1E;
  color: #B2B1B5;
  border-top-color: #474748;
}

html body.layout-dark.layout-transparent .picker--opened .picker__holder .picker__button--clear:hover, html body.layout-dark.layout-transparent .picker--opened .picker__holder .picker__button--clear:focus {
  background-color: #101010;
}

html body.layout-dark:not(.layout-transparent) .picker--opened .picker__holder .picker__button--clear:hover, html body.layout-dark:not(.layout-transparent) .picker--opened .picker__holder .picker__button--clear:focus {
  background-color: #101010;
}

html body.layout-dark.layout-transparent .noUi-target {
  background-color: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .noUi-target {
  background-color: #424242;
}

html body.layout-dark.layout-transparent .dropzone {
  background-color: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .dropzone {
  background-color: #101010;
}

html body.layout-dark.layout-transparent .context-menu-list {
  background-color: rgba(30, 30, 30, 0.92);
}

html body.layout-dark:not(.layout-transparent) .context-menu-list {
  background-color: #1E1E1E;
}

html body.layout-dark.layout-transparent .context-menu-list .context-menu-submenu:after {
  border-color: transparent #D6D5D8 !important;
}

html body.layout-dark:not(.layout-transparent) .context-menu-list .context-menu-submenu:after {
  border-color: transparent #B2B1B5 !important;
}

html body.layout-dark.layout-transparent .context-menu-list .context-menu-item {
  background-color: transparent;
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .context-menu-list .context-menu-item {
  background-color: #1E1E1E;
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent .context-menu-list .context-menu-item:hover {
  background-color: rgba(16, 16, 16, 0.7) !important;
}

html body.layout-dark:not(.layout-transparent) .context-menu-list .context-menu-item:hover {
  background-color: #101010 !important;
}

html body.layout-dark.layout-transparent .wizard > .steps > ul > li a {
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .wizard > .steps > ul > li a {
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent .wizard > .steps > ul > li.current:after {
  background-color: rgba(16, 16, 16, 0.1);
}

html body.layout-dark:not(.layout-transparent) .wizard > .steps > ul > li.current:after {
  background-color: #101010;
}

html body.layout-dark.layout-transparent .wizard > .steps > ul > li.current ~ li:before, html body.layout-dark.layout-transparent .wizard > .steps > ul > li.current ~ li:after {
  background-color: rgba(16, 16, 16, 0.1);
}

html body.layout-dark:not(.layout-transparent) .wizard > .steps > ul > li.current ~ li:before, html body.layout-dark:not(.layout-transparent) .wizard > .steps > ul > li.current ~ li:after {
  background-color: #101010;
}

html body.layout-dark.layout-transparent .wizard > .steps > ul > li .step {
  border-color: rgba(16, 16, 16, 0.5);
  background-color: rgba(30, 30, 30, 0.8);
}

html body.layout-dark:not(.layout-transparent) .wizard > .steps > ul > li .step {
  border-color: #101010;
  background-color: #1E1E1E;
}

html body.layout-dark.layout-transparent .users-list li img {
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .users-list li img {
  border-color: #474748;
}

html body.layout-dark:not(.layout-transparent) .app-sidebar {
  box-shadow: 6px 0px 20px 0 rgba(0, 0, 0, 0.35);
}

html body.layout-dark.layout-transparent .app-sidebar {
  box-shadow: 6px 0px 20px 0 rgba(25, 42, 70, 0.15);
}

html body.layout-dark.layout-transparent .read-notification {
  background-color: rgba(30, 30, 30, 0.6) !important;
}

html body.layout-dark:not(.layout-transparent) .read-notification {
  background-color: #1E1E1E !important;
}

html body.layout-dark.layout-transparent .notification-sidebar {
  background-color: rgba(30, 30, 30, 0.92) !important;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.38) !important;
}

html body.layout-dark:not(.layout-transparent) .notification-sidebar {
  background-color: #1E1E1E !important;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.38) !important;
}

html body.layout-dark.layout-transparent .notification-sidebar .notification-note {
  background-color: rgba(16, 16, 16, 0.5) !important;
}

html body.layout-dark:not(.layout-transparent) .notification-sidebar .notification-note {
  background-color: #101010 !important;
}

html body.layout-dark.layout-transparent .notification-sidebar .checkbox label:before, html body.layout-dark.layout-transparent
.notification-sidebar .checkbox input[type='checkbox']:not(:checked) ~ label:after {
  border-color: #474748;
}

html body.layout-dark.layout-transparent .customizer {
  background-color: rgba(30, 30, 30, 0.92);
}

html body.layout-dark:not(.layout-transparent) .customizer {
  background-color: #1E1E1E;
}

html body.layout-dark.layout-transparent .customizer .checkbox label:before, html body.layout-dark.layout-transparent
.customizer .checkbox input[type='checkbox']:not(:checked) ~ label:after {
  border-color: #474748;
}

html body.layout-dark.layout-transparent .Stackbarchart .ct-series-b .ct-bar {
  stroke: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .Stackbarchart .ct-series-b .ct-bar {
  stroke: #101010;
}

html body.layout-dark.layout-transparent .ct-label {
  color: #C3C2C5;
}

html body.layout-dark:not(.layout-transparent) .ct-label {
  color: #848484;
}

html body.layout-dark:not(.layout-transparent) .lineAreaDashboard .ct-series .ct-point-circle {
  fill: #1E1E1E;
}

html body.layout-dark:not(.layout-transparent) .lineChart1Shadow {
  -webkit-filter: drop-shadow(0px 15px 4px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0px 15px 4px rgba(0, 0, 0, 0.6));
}

html body.layout-dark.layout-transparent .ct-chart-donut .ct-series.ct-outstanding .ct-slice-donut {
  stroke: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .ct-chart-donut .ct-series.ct-outstanding .ct-slice-donut {
  stroke: #101010;
}

html body.layout-dark:not(.layout-transparent) .lineChart2 .ct-series .ct-point-circle, html body.layout-dark:not(.layout-transparent)
.lineAreaChart .ct-series .ct-point-circle {
  fill: #1E1E1E;
}

html body.layout-dark:not(.layout-transparent) .dash2-user .avatar {
  background-color: #1E1E1E;
}

html body.layout-dark.layout-transparent .email-application .email-app-sidebar, html body.layout-dark.layout-transparent
.email-application .email-app-list-mails, html body.layout-dark.layout-transparent
.email-application .email-app-mail-content, html body.layout-dark.layout-transparent
.email-application .email-search-box {
  background-color: rgba(0, 0, 0, 0.12);
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .email-application .email-app-sidebar, html body.layout-dark:not(.layout-transparent)
.email-application .email-app-list-mails, html body.layout-dark:not(.layout-transparent)
.email-application .email-app-mail-content, html body.layout-dark:not(.layout-transparent)
.email-application .email-search-box {
  background-color: #1E1E1E;
  border-color: #474748;
}

html body.layout-dark.layout-transparent .email-application .compose-new-mail-sidebar {
  background-color: rgba(0, 0, 0, 0.9);
}

html body.layout-dark:not(.layout-transparent) .email-application .compose-new-mail-sidebar {
  background-color: #1E1E1E;
}

html body.layout-dark.layout-transparent .email-application .compose-new-mail-sidebar .ql-editor:before {
  color: #D6D5D8 !important;
}

html body.layout-dark:not(.layout-transparent) .email-application .compose-new-mail-sidebar .ql-editor:before {
  color: #B2B1B5 !important;
}

@media (max-width: 767.98px) {
  html body.layout-dark.layout-transparent .email-application .email-app-mail-content {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.email-application .list-group-item.active {
  color: #fff;
}

html body.layout-dark.layout-transparent .email-application .list-group-item-action {
  color: #D6D5D8 !important;
}

html body.layout-dark:not(.layout-transparent) .email-application .list-group-item-action {
  color: #B2B1B5 !important;
}

html body.layout-dark.layout-transparent .email-application .list-group-item-action:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .email-application .list-group-item-action:hover {
  background-color: #101010 !important;
}

html body.layout-dark.layout-transparent .email-application .list-group-item-action.email-app-sender, html body.layout-dark.layout-transparent .email-application .list-group-item-action.selected-email {
  background-color: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .email-application .list-group-item-action.email-app-sender, html body.layout-dark:not(.layout-transparent) .email-application .list-group-item-action.selected-email {
  background-color: #101010 !important;
}

html body.layout-dark.layout-transparent .chat-application .chat-app-window, html body.layout-dark.layout-transparent
.chat-application .chat-sidebar, html body.layout-dark.layout-transparent
.chat-application .chat-name, html body.layout-dark.layout-transparent
.chat-application .chat-app-form {
  background-color: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .chat-application .chat-app-window, html body.layout-dark:not(.layout-transparent)
.chat-application .chat-sidebar, html body.layout-dark:not(.layout-transparent)
.chat-application .chat-name, html body.layout-dark:not(.layout-transparent)
.chat-application .chat-app-form {
  background-color: #1E1E1E;
}

html body.layout-dark.layout-transparent .chat-application .selected-chat {
  background-color: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .chat-application .selected-chat {
  background-color: #101010 !important;
}

html body.layout-dark.layout-transparent .chat-application .chat-name, html body.layout-dark.layout-transparent
.chat-application .chat-sidebar, html body.layout-dark.layout-transparent
.chat-application .chat-fixed-search, html body.layout-dark.layout-transparent
.chat-application .chat-app-form {
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .chat-application .chat-name, html body.layout-dark:not(.layout-transparent)
.chat-application .chat-sidebar, html body.layout-dark:not(.layout-transparent)
.chat-application .chat-fixed-search, html body.layout-dark:not(.layout-transparent)
.chat-application .chat-app-form {
  border-color: #474748;
}

html body.layout-dark.layout-transparent .chat-application .chat-app-window {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%236f76a1' fill-opacity='0.5'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html body.layout-dark:not(.layout-transparent) .chat-application .chat-app-window {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%236f76a1' fill-opacity='0.25'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html body.layout-dark.layout-transparent .app-taskboard .users-list li img {
  border-color: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) .app-taskboard .users-list li img {
  border-color: #1E1E1E;
}

html body.layout-dark.layout-transparent td.fc-other-month.fc-past:not([class*=fc-day-top]) {
  background-color: rgba(0, 0, 0, 0.12);
}

html body.layout-dark:not(.layout-transparent) td.fc-other-month.fc-past:not([class*=fc-day-top]) {
  background-color: #212121;
}

html body.layout-dark.layout-transparent .fc-view > table th, html body.layout-dark.layout-transparent
.fc-view > table td, html body.layout-dark.layout-transparent
.fc-events-container {
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .fc-view > table th, html body.layout-dark:not(.layout-transparent)
.fc-view > table td, html body.layout-dark:not(.layout-transparent)
.fc-events-container {
  border-color: #474748;
}

html body.layout-dark.layout-transparent .fc-popover {
  background-color: rgba(16, 16, 16, 0.92);
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .fc-popover {
  background-color: #101010;
  border-color: #474748;
}

html body.layout-dark.layout-transparent .fc-popover .fc-header {
  background-color: rgba(16, 16, 16, 0.92);
  border-bottom: 1px solid rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .fc-popover .fc-header {
  background-color: #101010;
  border-bottom: 1px solid #474748;
}

html body.layout-dark.layout-transparent .faq-wrapper .faq-search input, html body.layout-dark.layout-transparent
.faq-wrapper .swiper-wrapper .swiper-slide {
  background-color: rgba(0, 0, 0, 0.12);
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .faq-wrapper .faq-search input, html body.layout-dark:not(.layout-transparent)
.faq-wrapper .swiper-wrapper .swiper-slide {
  background-color: #1E1E1E;
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent .search-wrapper .page-search-input input, html body.layout-dark.layout-transparent
.search-wrapper .video-result-swiper .swiper-slide {
  background-color: rgba(0, 0, 0, 0.12);
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .search-wrapper .page-search-input input, html body.layout-dark:not(.layout-transparent)
.search-wrapper .video-result-swiper .swiper-slide {
  background-color: #1E1E1E;
  color: #B2B1B5;
}

html body.layout-dark.layout-transparent .kb-wrapper .kb-search-input input {
  background-color: rgba(0, 0, 0, 0.12);
  color: #D6D5D8;
}

html body.layout-dark:not(.layout-transparent) .kb-wrapper .kb-search-input input {
  background-color: #1E1E1E;
  color: #B2B1B5;
}

@media (max-width: 767.98px) {
  html body.layout-dark.layout-transparent .kb-sidebar {
    background-color: rgba(0, 0, 0, 0.9);
  }
  html body.layout-dark:not(.layout-transparent) .kb-sidebar {
    background-color: #1E1E1E;
  }
}

html body.layout-dark.layout-transparent .timeline .events li a {
  color: #D6D5D8 !important;
}

html body.layout-dark:not(.layout-transparent) .timeline .events li a {
  color: #B2B1B5 !important;
}

html body.layout-dark:not(.layout-transparent) .timeline .events li a:not(.selected):after {
  background-color: #1E1E1E;
}

html body.layout-dark.layout-transparent .timeline .timeline-line {
  background-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .timeline .timeline-line {
  background-color: #474748;
}

html body.layout-dark.layout-transparent .timeline .timeline-line.tline-t-none {
  background-color: transparent;
}

html body.layout-dark.layout-transparent .timeline .timeline-item:after {
  border-color: rgba(238, 238, 238, 0.2);
}

html body.layout-dark:not(.layout-transparent) .timeline .timeline-item:after {
  border-color: #474748;
}

html body.layout-dark:not(.layout-transparent) .timeline .cd-timeline-navigation a {
  background-color: #1E1E1E;
}

@media (max-width: 991px) {
  html body.layout-dark.layout-transparent .timeline-center .timeline .timeline-line {
    background-color: transparent;
  }
  html body.layout-dark.layout-transparent .timeline-center .timeline .timeline-item .bg-transparent {
    background-color: transparent !important;
  }
  html body.layout-dark:not(.layout-transparent) .timeline-center .timeline .timeline-item .bg-transparent {
    background-color: #101010 !important;
  }
}

html body.layout-dark.layout-transparent .apexcharts-legend-text {
  color: #D6D5D8 !important;
}

html body.layout-dark:not(.layout-transparent) .apexcharts-legend-text {
  color: #B2B1B5 !important;
}

body.layout-dark .dropdown-menu {
  border-color: #474748;
}

body.layout-dark .dropdown-menu .dropdown-header {
  color: #fff;
}

body.layout-dark .dropdown-menu .dropdown-item:hover, body.layout-dark .dropdown-menu .dropdown-item:focus {
  background-color: #1E1E1E !important;
}

body.layout-dark .dropdown-menu .dropdown-divider {
  border-top-color: #474748;
}

body.layout-dark .dropdown-menu .arrow:after,
body.layout-dark .dropdown-menu .arrow-left:after,
body.layout-dark .dropdown-menu .arrow-right:after {
  border-right-color: #101010;
}

body.layout-dark .pagination .page-item.active .page-link {
  background-color: #975AFF !important;
  border-color: #975AFF !important;
}

body.layout-dark .modal-content .close {
  color: #fff;
}

body.layout-dark .list-group .list-group-item {
  background-color: inherit;
}

body.layout-dark .list-group .list-group-item.active {
  background-color: #975AFF;
  border-color: #975AFF !important;
}

body.layout-dark .nav-tabs .nav-item.dropdown.show a.nav-link.dropdown-toggle {
  color: #fff;
}

body.layout-dark .nav-tabs.nav-right .nav-item a.nav-link, body.layout-dark .nav-tabs.nav-left .nav-item a.nav-link {
  border-radius: 0;
}

body.layout-dark select option {background-color: #ffffff;}
body.layout-dark .select2.select2-container .select2-selection--multiple .select2-selection__rendered .select2-search__field {  color: inherit;}
body.layout-dark .select2-container .select2-dropdown { background-color: #1E1E1E;}
body.layout-dark .select2-container .select2-dropdown .select2-search__field {background-color: #1E1E1E; border-color: #474748;
  color: inherit;}
body.layout-dark .select2-container .select2-results .select2-results__options .select2-results__option .select2-results__group {background-color: #101010;}
body.layout-dark .tooltip {  color: #BFBEC2 !important;}
body.layout-dark .swal2-modal h2 {  color: #342E49 !important;}
body.layout-dark .heading-elements {  position: absolute;  top: 1.25rem;  right: 1.25rem;}
body.layout-dark .heading-elements ul li span {background: #1E1E1E;}
body.layout-dark .media-wrapper .plyr--audio .plyr__controls .plyr__time--current.plyr__time {color: #fff;}
body.layout-dark .bootstraptreeview .colorful-treeview .list-group .list-group-item { background-color: #975AFF;}
body.layout-dark .bootstraptreeview .colorful-treeview .list-group .list-group-item:hover {background-color: #B583FF;}
body.layout-dark .bootstraptreeview .override-treeview .list-group .list-group-item {background-color: #FEEFD0;}
body.layout-dark .bootstraptreeview .override-treeview .list-group .list-group-item:hover {
  background-color: #FEDBA1;
}

body.layout-dark .context-menu-list {
  border: none;
  box-shadow: -8px 8px 14px 0 rgba(0, 0, 0, 0.25);
}

body.layout-dark .context-menu-list .context-menu-item {
  border: none;
}

body.layout-dark .context-menu-list .context-menu-item.context-menu-hover {
  background-color: #975AFF !important;
  color: #fff;
}

body.layout-dark .ql-toolbar.ql-snow .ql-formats .ql-picker {
  color: #fff !important;
}

body.layout-dark .ql-toolbar.ql-snow .ql-formats .ql-picker-options {
  color: #342E49;
}

body.layout-dark .ql-toolbar.ql-snow .ql-formats svg {
  stroke: transparent;
}

body.layout-dark .ql-toolbar.ql-snow .ql-formats svg .ql-stroke {
  stroke: #fff;
}

body.layout-dark .ql-toolbar.ql-snow .ql-formats svg .ql-fill {
  fill: #fff;
}

body.layout-dark .ql-toolbar.ql-snow .ql-formats .ql-active {
  border: 1px solid #fff;
}

body.layout-dark .nav-search .search-input.open {
  background: #1E1E1E !important;
}

body.layout-dark .nav-search .search-input.open .input {
  color: #B2B1B5;
}

body.layout-dark .nav-search .search-input.open .search-list {
  background: #101010;
}

body.layout-dark .nav-search .search-input.open .search-list li.current_item {
  background: #1E1E1E;
}

body.layout-dark .nav-search .search-input.open .search-list li a {
  color: #B2B1B5;
}

body.layout-dark .notification-dropdown .media {
  border-bottom-color: #474748 !important;
}

body.layout-dark .customizer .cz-bg-color .selected,
body.layout-dark .customizer .cz-bg-image .selected,
body.layout-dark .customizer .cz-tl-bg-color .selected {border-color: #1E1E1E;}
body.layout-dark svg {  stroke: #BFBEC2;}
body.layout-dark .apexcharts-toolbar svg {  stroke: none;}
body.layout-dark .ct-grid {  stroke: rgba(255, 255, 255, 0.22);}
body.layout-dark .users-view .table-borderless td {border: none;}
html body.layout-dark:not(.layout-transparent).horizontal-layout.page-scrolled.navbar-sticky nav.header-navbar {background-color: #1E1E1E;  border-bottom-color: rgba(71, 71, 72, 0.4);}
html body.layout-dark:not(.layout-transparent).horizontal-layout.page-scrolled div.header-navbar {box-shadow: -8px 8px 14px 0 rgba(0, 0, 0, 0.25);}
html body.layout-dark:not(.layout-transparent).horizontal-layout nav.header-navbar {background-color: #101010;  border-bottom-color: #474748;}
html body.layout-dark:not(.layout-transparent).horizontal-layout div.navbar-horizontal {background-color: #101010;}
html body.layout-dark:not(.layout-transparent).horizontal-layout div.navbar-horizontal li.nav-item.show .dropdown-menu .dropdown-item:active, html body.layout-dark:not(.layout-transparent).horizontal-layout div.navbar-horizontal li.nav-item.show .dropdown-menu .dropdown-item:focus {
  background-color: #1E1E1E !important; color: #B2B1B5 !important;}
html body.layout-dark:not(.layout-transparent).horizontal-layout div.navbar-horizontal li.nav-item.show li.active.dropdown-submenu {background-color: #1E1E1E !important;color: #B2B1B5 !important;}
html body.layout-dark:not(.layout-transparent).horizontal-layout div.navbar-horizontal li.nav-item.show li.show {background-color: #1E1E1E !important;  color: #B2B1B5 !important;}
html body.layout-dark:not(.layout-transparent).horizontal-layout div.navbar-horizontal li.nav-item.show li:active.dropdown-item {background-color: #1E1E1E !important;  color: #B2B1B5 !important;}
html body.layout-dark:not(.layout-transparent).horizontal-layout div.navbar-horizontal .main-menu-content > ul > li:hover:not(.active) {background-color: #1E1E1E;}
html body.layout-dark.layout-transparent.horizontal-layout.page-scrolled div.header-navbar {box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, 0.11);}
html body.layout-dark.layout-transparent.horizontal-layout nav.header-navbar {background-color: transparent;  border-bottom-color: rgba(238, 238, 238, 0.2);}
html body.layout-dark.layout-transparent.horizontal-layout div.navbar-horizontal {background-color: transparent;}
html body.layout-dark.layout-transparent.horizontal-layout div.navbar-horizontal li.nav-item:hover:not(.active) {background-color: rgba(0, 0, 0, 0.12);}
html body.layout-dark.layout-transparent.horizontal-layout div.navbar-horizontal li.nav-item.show li.show {background-color: #101010 !important;  color: #B2B1B5 !important;}
